<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
  <link rel="stylesheet" href="/stylesheets/adminlogin.css">
</head>
<body>
  <div class="wrapper">
    <form action="/emailpost" method="post">
      <h2> Enter your email</h2>
        <div class="input-field">
        <input type="email"  name="email" required>
    
      </div>
      
      <div class="forget">
        <label for="remember">
          <!-- <input type="checkbox" id="remember"> -->
          
        </label>
        
      </div>
      <button type="submit">submit</button>
      <div class="register">
        <!-- <p>Don't have an account? <a href="#">Register</a></p> -->
      </div>
    </form>
  </div>
</body>
</html>